<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="izuanqian.ProfileMapper">

    <select id="queryByDeviceCode" parameterType="java.lang.String" resultType="izuanqian.user.dbo.DbUserProfile">
        SELECT
            id,
            mobile,
            nick,
            gender
        FROM profile
        WHERE device_code = #{_parameter}
    </select>

    <select id="countUserProfile" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT count(1)
        FROM profile
        WHERE device_code = #{_parameter}
    </select>

    <select id="byId" resultType="izuanqian.user.dbo.DbUserProfile">
        SELECT
            id,
            mobile,
            nick,
            gender
        FROM profile
        WHERE id = #{_parameter}
    </select>

    <insert id="save">
        INSERT INTO profile
        (
            ID, MOBILE
        )
        VALUES
            (
                #{id}, #{mobile}
            )
    </insert>

</mapper>